{
  "mcpServers": {
    "forgejo": {
      "command": "./forgejo-mcp",
      "args": ["serve"],
      "env": {
 	"FORGEJO_REMOTE_URL": "",
 	"FORGEJO_AUTH_TOKEN": "",
 	"FORGEJO_CLIENT_TYPE": "auto"
      }
    }
  }
}
